.banner{
    position: relative;
}
.carousel-inner{
    width: 100%;
    height: 35vw;
}
.carousel-control{
    padding-top: 15vw;
}
.banner-text{
    position: absolute;
    top: 12vw;
    right: 25vw;
    color: $whitecolor;
    display: flex;
    flex-flow: column;
}
.banner-text-top{
    font-size: 2vw;
    text-align: right;
}
.banner-text-bottom{
    @include flexstyle(space-between);
}
.banner-bottom-left{
    font-size: 4vw;
}
.banner-bottom-right{
    font-size: 2.5vw;
    line-height: 4vw;
}
