.footer{
    width:100%;
    padding: 5vh 10vw;
    background-color: $themecolor;
    @include flexstyle(space-between);
    color: $whitecolor;
}
.footer-left,.footer-min,.footer-right{
    height: 15vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.footer-text-box{
    width: 30em;
    @include flexstyle(flex-start);
}
.footer-text{
    padding-right: 2vw;
}
.footer-img{
    width: 6em;
    padding-bottom: 6em;
    @include bkg-img("images/技能树首页_70.png");
    background-size: 100%;
}
.footer-copyright{
    width: 100%;
    background-color: $themecolor;
    text-align: center;
    color: $whitecolor;
    font-size: .8em;
    padding-bottom: 1vh;
}
